h1{
    text-align: center;
    font-family: sans-serif, "Tahoma", "Geneva" ;
    font-size: 40px;
}

body{
    background: rgba(181,207,237,1);
    background: -moz-linear-gradient(45deg, rgba(181,207,237,1) 0%, rgba(43,141,227,1) 69%, rgba(190,213,238,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(181,207,237,1)), color-stop(69%, rgba(43,141,227,1)), color-stop(100%, rgba(190,213,238,1)));
    background: -webkit-linear-gradient(45deg, rgba(181,207,237,1) 0%, rgba(43,141,227,1) 69%, rgba(190,213,238,1) 100%);
    background: -o-linear-gradient(45deg, rgba(181,207,237,1) 0%, rgba(43,141,227,1) 69%, rgba(190,213,238,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(181,207,237,1) 0%, rgba(43,141,227,1) 69%, rgba(190,213,238,1) 100%);
    background: linear-gradient(45deg, rgba(181,207,237,1) 0%, rgba(43,141,227,1) 69%, rgba(190,213,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5cfed', endColorstr='#bed5ee', GradientType=1 );
}

div{
    width:400px;
    height: 100px;
    border:2px blue;
    border-radius: 15px;
    padding:20px;
    margin:20px;
    background:#1065C6;
    color:black;
    position:relative;
    top:0px;
    bottom:0px;
    left:20px;
    right:0px;
    text-align: left;
}

textArea{
    width: 300px;
    height: 100px;
}

input[type="submit"]{
    background:#4A88F4;
    font-size: 15px;
    color:white;
    border:none;
    border-radius: 5px;
    height: 30px;
    box-shadow: 1px 2px 0px #064FA4;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;

}
input[type="submit"]:hover{
    background:#619BDE;
    cursor:pointer;

}
input[type="submit"]:active{
    box-shadow: none;
}

p{
    font-size: 20px;
    position:relative;
    top:0px;
    bottom:0px;
    left:150px;
    right:0px; 
}

form{
    position:relative;
    top:0px;
    bottom:0px;
    left:100px;
    right:0px;
}

.pingüino{
    position: absolute;
    top:150px;
    bottom:0px;
    left:650px;
    right:0px; 
    background: none;
}



.pie{
    width: auto;
    height: 80px;
    position: relative;
    top:50px;
    bottom:0px;
    left:0px;
    right:0px; 

}